/* Colores modernos y oscuros */
:root {
    --primary-color: #540f15;
    --secondary-color: #a8dadc;
    --background-color: #1d3557;
    --card-bg: #2a2a2a;
    --button-hover-color: #d62828;
    --text-color: #f1faee;
}

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    transition: top 0.3s;
    position: sticky; /* Esto hace que la barra se quede pegada al top al hacer scroll */
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-weight: 700;
    letter-spacing: 0.05em;
}

/* Estilos personalizados para las tarjetas */
.card {
    border: none;
    border-radius: 15px;
    background-color: var(--card-bg);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.card-text {
    color: var(--text-color);
}

/* Botones personalizados */
.btn-primary {
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--button-hover-color);
}

.shadow-sm {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease, bottom 0.3s ease;  /* Añadimos transición para suavidad */
}

.navbar-brand {
    font-weight: 700;
    letter-spacing: 0.05em;
}

/* Navbar para pantallas grandes (desktop) */
@media (min-width: 768px) {
    .navbar {
        top: 0;  /* Mantener la barra en la parte superior */
        bottom: auto;  /* Evita que se mueva al fondo en pantallas grandes */
    }
}

/* Navbar para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .navbar {
        bottom: 0;  /* Posición fija en la parte inferior en móviles */
        top: auto;  /* Evita que se quede en la parte superior */
    }
}
